importFrom("stats", "rnorm", "runif")
useDynLib(tensorApp, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(hosvd,hosvd_dr,cpals,       
       gtt,gttsem,gtcp,gtcpsem,
	   cpsym2,tdsym2,
	   ttu,tmp)
