importFrom("stats", "rnorm", "runif")
useDynLib(tensorApp, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(hosvd,hosvd_dr,ttu,tmp,cpals,cpsym2,gtt,gttsem,gtcp,gtcpsem)
